*{
    
    box-sizing: border-box;
}

body{
    width: 70%;    
    font-family: Verdana, Tahoma, sans-serif, Arial;
    margin: auto;
    background-color: #808080e5;
    
}

a{
    text-decoration: none;
    color: #000;
    margin-left: 10px;
}

li{
    display: flex;
    margin-right: 10px;
    
}

ul{
    display: flex;
    justify-content: center;
}

h1{
    flex-direction: column;
}



.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.section-flex{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.title-rede-social{
    width: 40%;
    display: flex;
    margin: auto;
}
.title-rede-social ul{
   flex-direction: column;
}

.title-rede-social li{
    padding: 10px;
 }
 

.side{
    display: flex; 
    align-items: center;
}

.rede-social a{
    display: flex;
}

.rede-social a:hover{
    color: #ffffff;
}

.rede-social span{
    justify-content: center;
    margin-left: 3px;
}


.rede-social img{
   width: 25px;
   border-radius: 25px;
  
}

.foto{
    border-radius: 80px 300px  ;
    width: 120px;
}

#title, .subtitle, .post_title{
    color: #505050;
}

#title h1{
    font-style: normal;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 20px; 
    color: #ffffff; 
}
#title h3{
    margin-top: -30px;
    text-align: center;
    font-weight: normal;
    color: #000;
}


.subtitle{
    font-style: italic;
    font-weight: bold;
    text-transform: lowercase;
    color: #000;
}

.post_title{
    font-size: 18px;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
    
}

.post{
    background: white;
    padding: 15px;
    border: 3px solid #5050505b;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
    
}

article a{
    color: blue;
}

article a:hover{
    background-color: blue;
    color: #ffffff;
    border-radius: 20px;
    padding: 4px;
}


.title{
    text-align: center;
    color: blue;
    font-size: 40px;
}

.subtitle{
    text-align: center;
    color: purple;
}

.html{
    color: orangered;
}

.css3{
    color: rgb(4, 159, 248);
}

.nav a{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.781);
    padding: 10px;
    border-radius: 5px;
}
.nav a:hover{
    transition: all 1s; 
    background-color: #5900ff;
    margin-bottom: 20px;
}

.post_img{
    margin-bottom: 15px;
    border-radius: 200px 30px;
    width: 90%;
}

.container{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.flex, .flex-collums, .flex-collums-reverso, .flex-reverso{
    width: 300px;
    max-width: 300px;
    padding: 10px;
    border: 2px solid #ffffff;
    display: flex;
    margin: 10px;
}

.flex{
    flex-direction: row;
}

.flex-reverso{
    flex-direction: row-reverse;
    
}

.flex-collums{
    flex-direction: column;
}
.flex-collums-reverso{
    flex-direction: column-reverse;
    
}

.item{
    background-color: aqua;
    margin: 5px;
    border-radius: 1000px;
    padding: 10px;
    text-align: center;
}

.flex-container{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    
}

.tamanho{
    margin: auto;
    width: 200px;
    height: 150px;
    flex-wrap: wrap;
}

.tamanho-reverso{
    margin: auto;
    width: 200px;
    height: 150px;
    flex-wrap:  wrap-reverse;
}

.flex-items-ul{
    margin-bottom: 20px;
    background: blue;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #ffffff;
    justify-content: center;
    border-radius: 100px;
    
}

.row-reverse li{
    background-color: aqua;
    color: red;
    flex-direction: row-reverse;
}
.row-reverse{
    flex-direction: row-reverse;
}

.collums{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.collums-reverso{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
}

.collums-reverso .flex-items-ul {
    background-color:red;
    color: blue;
    
}

.flex-flow-container{
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    max-width: 500px;
    margin: auto;
    
}

.flex-flow-nowrap{
    flex-flow: row nowrap ;
}

.flex-flow-wrap-reverso{
    flex-flow: row wrap-reverse ;
}

.flex-flow-wrap{
    flex-flow: row wrap;
}

.flex-flow-wrap-reverso{
    flex-flow: row wrap-reverse;
}



.flex-item-flow{
    background-color: violet;
    margin: 5px;
    color: #ffffff;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
    
}

.subtitle-justify{
    color: #5900ff;
}

.container-justify{
    max-width: 500px;
    width: 500px;
    border: 1px solid #505050;
    margin: 0;
    display: flex;
    border-radius: 20px;
    padding: 20px;
}

.flex-item-justify{
    background-color: rgb(255, 1, 120);
    margin: 5px;
    text-align: center;
    color: white;
    width: 70px;
    height: 50px;
    line-height: 50px;
    border-radius: 15px;
}


.flex-start{
    justify-content: flex-start;
}

.flex-center{
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}

.flex-space-around{
    justify-content: space-around ;
    background-color: #5900ff;
    border: none;
    border-radius: 20px;
}

.flex-space-between{
    justify-content: space-between;
    background-color: #5900ff;
    border: none;
    border-radius: 20px;
}

.flex-space-evenly{
    justify-content: space-evenly;
    background-color: #5900ff;
    border: none;
   
}

.subtitle-justify-collums{
    color: rgb(255, 1, 120);
    text-shadow: 0 0 5px #000;
    text-align: center;
}

.flex-justify-collums{
    flex-direction: column;
    height: 400px;
    width: 200px;
}

.subtitle-flex-grow{
    color:blue;
    text-align: center;
    text-shadow: 0 0 5px #ffffff;
}

.flex-grow-0{
    flex-grow: 0;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-grow-2{
    flex-grow: 2;
}

.flex-grow-3{
    flex-grow: 3;
}

.basis{
    background-color: #505050;
}

.basis-auto{
    flex-basis: auto;
}

.basis-60{
    flex-basis: 60px;
}

.basis-75{
    flex-basis: 75px;
}

@media(max-width:900px){
    .footer-principal ul{
        flex-direction: column;
    }

    .rede-social{
        width: 100%;
        
    }

    .rede-social a{
       
        flex-direction: row;
        margin: auto;
        
    }

    img{
        width: 100%;
    }


}

@media(max-width: 1190px){
    .title-rede-social{
        flex-direction: column;
        align-items: center;
    }

    .footer-principal a{
        flex-direction: column;
        align-items: center;
    }

    .container-externo{
        height: auto;
    }

    .header a{
        color: #ffffff;
        padding: 5px;
        border-radius: 20px;
        
    }

    .list-servicos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header .list-items{
        display: flex;
        width: 100%;
        max-width: 500px;
        justify-content: space-between;
        
    }

    .header .menu-flex{
        width: 100%;
    }


    #planos h2{
        margin-top: 0;
    }

    .list-planos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item-planos{
        width: 60%;
        margin: 20px;
    }

}


@media(max-width: 1350px){
    .flex-container{
        flex-direction: column;
        padding: 50px;
    }

    .list-items{
        flex-direction: row;
        padding: 0;
    }

    .menu-flex{
        flex-direction: row;
        padding: 0;
    }

    #title h1{
        font-size: 25px;
    }
}